<h1>Listing memos</h1>

<div id="memos">
<% @memos.each do |memo| %>
  <div class="memo">
    <div class="viewer">
      <span class="body"><%= memo.body %></span>
      <%= button_tag 'Edit', class: 'edit', type: :button %>
    </div>
    <div class="editor">
      <div>
        <%= button_tag 'Cancel', class: 'cancel', type: :button %>
      </div>
      <%= render 'form', memo: memo %>
    </div>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Memo', new_memo_path %>
